<div>
	<h3>Thanks for signing up for Fixed Gear Nation, <strong> <%= @user.email %>!</strong></h3>
	<br>
	<p>Welcome to the Fixed Gear Nation.  Sign in to post your fixed gear and comment on other people's fixies</p>
	<a href="fixedgearnation.herokuapp.com">Visit Fixed Gear Nation</a>
</div>