<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h2 class="text-center">Edit Comment</h2>
			<%= form_for [@bike, @comment] do |f| %>
			  <div class="form-group">
			    <%= f.text_area :content, placeholder: "Type your comment here", class: "form-control", autofocus: true %>
			  </div>
			  <%= f.submit "Comment", class: "btn btn-default" %>
			  <%= link_to "Cancel", bike_path(@bike), class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>