<div class="row">
  <div class="col-sm-6 col-md-4">
    <div>
      <div class="caption">
        <h3><%= @user.name %> </h3>
        <p><%= link_to 'Edit', edit_user_path(current_user), :class =>"glyphicon glyphicon-cog"%></p>
      </div>
    </div>
  </div>
