<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Bikes index page</h1>
		<% @bikes.each do |bike| %>
		<p>
			<strong>Name:</strong> <%= bike.name %><br>
			<strong>Description:</strong> <%= bike.description %>
		</p>
		<div class="bike_photo">
			<%= image_tag bike.image.url(:medium) %>
		</div>
		<p><%= link_to "see bike", bike_path(bike), class: "btn btn-primary" %></p>
		<hr>
		<% end %>
	</div>
</div>