/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";

@import "bootswatch/cosmo/variables";

// @import "bootswatch/cosmo/bootswatch";

@import "bootstrap/mixins";

@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
 	padding-top: 60px;
 	font-family: 'Source Sans Pro', sans-serif;
 	font-size: 16px; 
 }

.bike_photo {
	background-color: white; 
	width: 280px;
	height: 200px;
	margin: 0 auto; 
}

.bike_area {
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
	margin-bottom: 10px;
}
.see_bike {
	margin: 5px;
}
.vote_button {
	vertical-align: middle; 
}
.voting-section {
	line-height: 180px; 
}
.active:hover {
	background-color: white;
}
.well {
	padding: 10px; 
}
.accent_text {
	color: #fff;
	font-style: italic; 
}
.header_title {
	background-color: #ff7518;
	padding: 4px; 
}
.accent {
	color: #ff7518;
}
.bike-pic {
	max-height: 250px;
}
.comment {
	margin-bottom: 0;
}