/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";

@import "bootswatch/cosmo/variables";

// @import "bootswatch/cosmo/bootswatch";

@import "bootstrap/mixins";

@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
 	padding-top: 60px;
 	font-family: 'Source Sans Pro', sans-serif;
 	font-size: 16px; 
 	background-color: #6E757D;
 }

.logo {
	width: 60%;
	height: 60%;
	padding-top: 10px;
	margin-left: 30px;
}

.navbar-right {
	text-transform: uppercase;
	margin-right: 30px;
}

div.thumbnail.bikes-index-thumbnail {
	height: 410px;
}
.thumbnail a.index-bikes > img {
	height: 195px;
	margin-bottom: 10px;
}
.bikes-index-content {
	margin-left: 10px;
	margin-right: 10px;
}
.bike_name {
	color: #5F919B;
}

.bike_name, .bike_name a, a.user_name {
	text-decoration: none;
	color: #5F919B;
}
.home-voted, span .show-voted {
	cursor: pointer;
}
.vote_button_home, .vote_button_home:hover, span .vote_button_show, span .vote_button_show:hover {
	color: #B20000;
	text-decoration: none;
	font-size: 22px;
}
.comment_button_home, .comment_button_show {
	cursor: pointer;
	font-size: 22px;
	margin-left: 10px;
}
.home-hr {
	margin: 10px 0px 10px 0px;
}
.show-page {
	background-color: #ffffff;
	margin-top: -10px;
	margin-bottom: 50px;
}
#bike-edit-delete-menu {
	font-size: 30px;
}
.bike_photo {
	background-color: white; 
	width: 280px;
	height: 200px;
	margin: 0 auto; 
}
.like-comment {
	float: right;
}
.btn-default {
    color: #222222;
    background-color: #fff;
    border-color: #fff;
}

.bike_area {
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
	margin-bottom: 10px;
}
.see_bike {
	margin: 5px;
}
.vote_button {
	vertical-align: middle; 
}
.voting-section {
	line-height: 180px; 
}
.active:hover {
	border: 1px solid #c6c6c6;
}
.well {
	padding: 10px; 
}
.accent_text {
	color: #fff;
	font-style: italic; 
}
.header_title {
	background-color: #ff7518;
	padding: 1px; 
}
.accent {
	color: #ff7518;
}
.bike-pic-index {
	max-height: 200px;
	margin: 0 auto; 
	margin-top: 5px; 
}
div.text-section {
  margin: 10px 0px 0px 20px;
}
.bike-pic-show {
	height: 600px;
	margin: 0 auto; 
}
.comment {
	margin-bottom: 0;
}
.bike_show_buttons {
	display: block;
	margin: .5em; 
}
.bike-show {
	padding: 20px 0px 50px 0px;
	max-width: 75%;
}
.additional-photos {
	margin-top: 5px;
}
.individual-additional-photo {
	height: 75px;
	display: inline;
	margin-top: 5px;	
}
.additional-photo-holder {
	display: inline;
}
.edit-additional-photo_thumb {
	height: 71px;
}
.edit-additional-photos {
	position: relative;
}
.remove-additional {
	font-size: 22px;
	position: absolute;
	top: 0;
	right: 10px;
}
.remove-additional:hover {
	text-decoration: none;
	color: #777777;
}
.comments-and-dropdown {
	position: relative;
}
.edit-delete-dropdown {
	position: absolute;
	top: -5px;
	right: 10px;
}
.comment-form {
	margin-bottom: 25px;
}
.comment-wrapper {
	margin-bottom: 25px;
}
.pin-box-wrapper {
	width: 100%; 
	margin: auto; 
}
.pin-box {
	margin: auto; 
	text-align: center; 
}
.pin-box span {
	max-width: 100%!important; 
}
@media (max-width: 768px) {
	.logo {
		width: 300px; 
	}
	.bike-homepage {
		width: 100% !important;
	}	
	.bike-pic-show {
		height: 180px;
	}
}
@media (max-width: 500px) {
	.bike-homepage {
		width: 100% !important;
	}
}
